@import "spark.import.less";

.app-content {
  padding: .5rem;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 10;
}

.close-modal {
  &:extend(.unstyled-button);
  position: absolute;
  right: 0;
  top: 0;
  color: @light-heading;
  background-color: transparent;
  padding: 1.2rem;
}

.save-modal {
  &:extend(.unstyled-button);
  position: absolute;
  left: 0;
  top: 0;
  color: @nephritis;
  background-color: transparent;
  padding: 1.2rem;
}