@import "spark.import.less";


//
//      Animations
//

.animation-slideFromLeft {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  animation: slideFromLeft .4s ease;
}

.animation-fadeIn {
  animation: fadeIn .4s 300ms ease;
}

.animation-blink {
    animation:fade 2000ms infinite;
}

//
//      Misc
//


.icon-align-middle {
  vertical-align: middle;
}


//
//      Levels
//


.level-1 {
  z-index: @level-1;
}
.level-2 {
  z-index: @level-2;
}
.level-3 {
  z-index: @level-3;
}
.level-4 {
  z-index: @level-4;
}
.level-5 {
  z-index: @level-5;
}

.level-1-back {
  z-index: @level-1-back;
}
.level-2-back {
  z-index: @level-2-back;
}
.level-3-back {
  z-index: @level-3-back;
}
.level-4-back {
  z-index: @level-4-back;
}
.level-5-back {
  z-index: @level-5-back;
}

.level-temp-1 {
  z-index: @temp-z-index-1;

}

.level-temp-2 {
  z-index: @temp-z-index-2;

}

//
//      Background Colors
//


.bgColor-breakfast {
  background-color: @nephritis !important;
}

.bgColor-breakfastAlt {
  background-color: @emerland !important;
}

.bgColor-lunch {
  background-color: @pumpkin !important;
}

.bgColor-lunchAlt {
  background-color: @carrot !important;
}

.bgColor-dinner {
  background-color: @amethyst !important;
}

.bgColor-dinnerAlt {
  background-color: @wisteria !important;
}



//
//      Border Colors
//

.borderColor-breakfast {
  border-color: @nephritis !important;
}

.borderColor-lunch {
  border-color: @pumpkin !important;
}

.borderColor-dinner {
  border-color: @amethyst !important;
}

